.nav-1 {
  @apply flex mr-40 justify-between flex-col;
}

.nav-1-link {
  @apply duration-700 ease-in-out transition-all hover:text-rose-300 dark:hover:text-rose-200 text-2xl md:text-5xl tracking-tight py-1 md:py-2 font-black;
}

.navbar {
  @apply rounded-full px-6 flex items-center gap-6 fixed bottom-6 left-1/2 -translate-x-1/2 backdrop-blur-sm backdrop-filter bg-opacity-50 shadow-lg border text-sm dark:bg-zinc-200/80 border-neutral-950/10 bg-neutral-950/80 dark:border-neutral-100/10;
}

.navbar-span {
  @apply w-full h-px bg-current absolute left-0 top-full;
}

.pix {
  @apply filter drop-shadow-sm;

  .img {
    border-radius: 0.5rem;
    background-color: oklch(21.0331% 0.00586 285.885);
  }

  &:has(figcaption) {
    display: flex;
    align-items: start;
  }

  & figcaption {
    text-align: right;

    & span {
      @apply text-sm text-gray-600 dark:text-gray-400;
    }
  }
}

/* .pix {
  @apply filter drop-shadow-sm;
}

.pix-img {
  border-radius: 0.5rem;
  background-color: oklch(21.0331% 0.00586 285.885);
}

.pix-cap {
  @apply text-sm text-gray-600 dark: text-gray-400;
  display: flex;
  align-items: start;
  text-align: right;
}
 */

.clock {
  @apply md:fixed bottom-0 left-0 col-span-full lg:col-start-9 lg:col-span-8 row-start-1 lg:row-auto self-start flex flex-col justify-between pt-4 font-bold font-mono text-[6vw] md:text-[4vw] md:ml-6 tabular-nums;
}

.bg-wrap {
  @apply w-[500px] h-[600px] md:w-[650px] dark:invert;
  position: fixed;
  background-image: url('/av3.svg');
  min-height: 100vh;
  overflow: visible;
  background-position-x: 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

.callout {
  @apply px-4 py-3 border border-neutral-200 dark:border-neutral-700 bg-neutral-50 dark:bg-neutral-800 text-balance rounded p-1 text-sm flex items-center text-neutral-900 dark:text-neutral-100 mb-8;
}

.emoji {
  @apply pl-4 flex items-center w-4 h-4 mr-4;
}

.children {
  width: 100%;
}

.pro-card {
  @apply border border-emerald-200 dark:border-emerald-900 bg-neutral-50 dark:bg-neutral-900 rounded-xl p-6 my-4 w-full;

  .pc-ow {
    @apply flex font-medium items-baseline mb-2;

    .pc-iw {
      @apply h-4 w-4 mr-2;

      .pc-cm {
        @apply h-4 w-4 text-emerald-500;
      }
    }
  }
}

.con-card {
  @apply border border-red-200 dark:border-red-900 bg-neutral-50 dark:bg-neutral-900 rounded-xl p-6 my-4 w-full;

  .cc-ow {
    @apply flex font-medium items-baseline mb-2;

    .cc-iw {
      @apply h-4 w-4 mr-2;

      .cc-cm {
        @apply h-4 w-4 text-red-500;
      }
    }
  }
}

.base-cx {
  @apply w-full px-3 py-[9px] rounded-lg border shadow-sm block text-sm transition-all leading-5 outline-orange-500 bg-white border-neutral-200 text-neutral-950 placeholder:text-neutral-400 dark:bg-neutral-950 dark:border-neutral-700 dark:text-white dark:placeholder:text-neutral-500;
}

.base-counter {
  @apply text-xs text-neutral-500 dark: text-neutral-400 text-right;
}

.fs {
  @apply space-y-1;
}

.input-w {
  @apply flex justify-between gap-4 items-center;
}

.textarea {
  @apply resize-y min-h-[5rem] max-h-[15rem];
}

.select {
  @apply flex h-9 w-full items-center justify-between whitespace-nowrap rounded-md border border-neutral-200 bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-white placeholder:text-neutral-500 focus:outline-none focus:ring-1 focus:ring-neutral-950 disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1 dark:border-neutral-800 dark:ring-offset-neutral-950 dark:placeholder:text-neutral-400 dark:focus:ring-neutral-300 text-neutral-950 dark:text-white;
}

.content {
  @apply relative z-50 max-h-96 min-w-[8rem] overflow-hidden rounded-md border border-neutral-200 bg-white text-neutral-950 min-h-36 min-h-14 h-screen-xl shadow-md data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 dark:border-neutral-800 dark:bg-neutral-950 dark:text-neutral-50 data-[side=bottom]:translate-y-1 data-[side=left]:-translate-x-1 data-[side=right]:translate-x-1 data-[side=top]:-translate-y-1;
}

.scroll {
  @apply flex cursor-default items-center justify-center py-1;
}

.vport {
  @apply p-1 h-[var(--radix-select-trigger-height)] w-full min-w-[var(--radix-select-trigger-width)];
}

.item {
  @apply relative flex w-full cursor-default select-none items-center rounded-sm py-1.5 pl-2 pr-8 text-sm outline-none focus:bg-neutral-100 focus:text-neutral-900 data-[disabled]:pointer-events-none data-[disabled]:opacity-50 dark:focus:bg-neutral-800 dark:focus:text-neutral-50;
}

.item-ind {
  @apply absolute right-2 flex h-3.5 w-3.5 items-center justify-center;
}

.subtitle {
  @apply hidden sm:block ml-2 text-gray-500 dark:text-gray-400;
}
