@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans.woff2") format("woff2-variations");
  src: url("/fonts/PublicSans.woff2") format("woff2");
  font-weight: 300 700;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVF.woff2") format("woff2-variations");
  src: url("/fonts/GeistMonoVF.woff2") format("woff2");
  font-weight: 300 700;
  font-display: swap;
  unicode-range: U+000-5FF;
}
 */

@layer base {
  ::selection {
    background-color: theme('colors.pink.300');
    color: theme('colors.stone.600');
  }

  :root {
    --sh-class: theme('colors.pink.300');
    --sh-identifier: theme('colors.violet.300');
    --sh-sign: theme('colors.stone.200');
    --sh-string: theme('colors.emerald.300');
    --sh-keyword: theme('colors.cyan.300');
    --sh-comment: theme('colors.stone.400');
    --sh-jsxliterals: theme('colors.emerald.300');
    --sh-property: theme('colors.pink.300');
    --sh-entity: theme('colors.red.400');
  }

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-balance font-semibold;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  html {
    @apply scroll-smooth text-black bg-white dark:text-white dark:bg-[#111010];
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    min-width: 360px;
  }

  body {
    @apply max-w-2xl mb-40 flex flex-col md:flex-row mx-4 mt-8 lg:mx-auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    @apply flex-auto min-w-0 mt-6 flex flex-col;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Remove Safari input shadow on mobile */
  input[type='text'],
  input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  article {
    @apply prose prose-quoteless prose-neutral dark:prose-invert text-pretty;
  }
}

@layer components {
  .prose :where(code):not(:where([class~='not-prose'] *))::before {
    content: none;
  }

  .prose :where(code):not(:where([class~='not-prose'] *))::after {
    content: none;
  }

  .prose mark {
    @apply bg-pink-300;
  }

  .prose .anchor {
    @apply absolute invisible no-underline;
    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
  }

  .anchor:hover {
    @apply visible;
  }

  .prose a {
    @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
  }

  .prose .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: '#';
  }

  .prose *:hover > .anchor {
    @apply visible;
  }

  .prose img,
  picture {
    max-width: 100%;
    display: block;
    @apply m-0;
  }

  .prose pre {
    @apply dark:bg-stone-700 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900;
  }
  .prose code {
    @apply px-1 py-0.5 rounded-lg  dark:bg-stone-700;
  }

  .prose pre code {
    @apply p-0;
    border: initial;
    line-height: 1.5;
  }

  .prose code span {
    @apply font-medium;
  }

  .prose strong {
    @apply font-medium;
  }

  .prose > :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }

  .prose .tweet a {
    text-decoration: inherit;
    font-weight: 500;
  }

  .prose .callout > p {
    margin: 0 !important;
  }

  .prose kbd {
    @apply bg-neutral-100 dark:bg-neutral-800 py-px px-1 rounded;
  }
  /* Light theme (default) */
  .tweet .react-tweet-theme {
    /* margin is handled by our wrappers */
    --tweet-container-margin: 0;
    --tweet-font-family: inherit;
    --tweet-font-color: theme('colors.white');

    /* Light colors */
    --tweet-bg-color: #fff;
    --tweet-bg-color-hover: var(--tweet-bg-color);
    --tweet-color-blue-secondary: theme('colors.gray.600');
    --tweet-color-blue-secondary-hover: theme('colors.gray.100');
    --tweet-font-color-secondary: theme('colors.gray.500');

    /* Common properties for both themes */
    --tweet-quoted-bg-color-hover: rgba(0, 0, 0, 0.03);
    --tweet-border: 1px solid rgb(207, 217, 222);
    --tweet-skeleton-gradient: linear-gradient(270deg, #fafafa, #eaeaea, #eaeaea, #fafafa);
    --tweet-color-red-primary: rgb(249, 24, 128);
    --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
    --tweet-color-green-primary: rgb(0, 186, 124);
    --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
    --tweet-twitter-icon-color: var(--tweet-font-color);
    --tweet-verified-old-color: rgb(130, 154, 171);
    --tweet-verified-blue-color: var(--tweet-color-blue-primary);

    --tweet-actions-font-weight: 500;
    --tweet-replies-font-weight: 500;
  }

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    .tweet .react-tweet-theme {
      /* Dark theme colors */
      --tweet-bg-color: #222;
      --tweet-bg-color-hover: var(--tweet-bg-color);
      --tweet-quoted-bg-color-hover: rgba(255, 255, 255, 0.03);
      --tweet-border: 1px solid #333;
      --tweet-color-blue-secondary: theme('colors.white');
      --tweet-color-blue-secondary-hover: #333;
      --tweet-font-color-secondary: theme('colors.gray.400');
    }
  }

  /* Common styles for both themes */
  .tweet .react-tweet-theme p {
    font-size: inherit;
    line-height: 1.3rem;
  }

  .tweet .react-tweet-theme p a {
    @apply border-b border-gray-300 transition-[border-color] hover:border-gray-600;
  }

  /* Dark theme link styles */
  @media (prefers-color-scheme: dark) {
    .tweet .react-tweet-theme p a {
      @apply border-gray-500 text-white hover:border-white;
    }
  }

  /* Remove link underline on hover for both themes */
  .tweet .react-tweet-theme p a:hover {
    text-decoration: none;
  }

  .tweet a div {
    @apply font-medium tracking-tight;
  }

  .tweet div[class*='mediaWrapper'] {
    max-height: 250px;
  }
}

@layer utilities {
  .bg-wrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: visible;
    z-index: -1;
  }
}
