@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: theme('colors.pink.300');
    color: theme('colors.stone.600');
  }

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  header {
    @apply border-b;
    @apply transition-all duration-300 ease-in-out;

    &.scrolled {
      @apply bg-white/75 dark:bg-black/50;
      @apply border-black/10 dark:border-white/25;
      @apply backdrop-blur-sm saturate-200;
    }

    &:not(.scrolled) {
      @apply bg-transparent border-transparent;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-balance font-bold;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  html {
    @apply scroll-smooth subpixel-antialiased bg-white dark:bg-[#111010];
    min-width: 360px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    @apply max-w-2xl text-black dark:text-white mb-40 flex flex-col md:flex-row mx-4 mt-8 lg:mx-auto;

  }

  main {
    @apply flex-auto min-w-0 mt-6 flex flex-col;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    padding: 1rem 0;
    /* Firefox */
    @apply !px-0 rounded-lg;
  }

  pre [data-line] {
    @apply px-2;
  }

  /* Remove Safari input shadow on mobile */
  input[type='text'],
  input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  article {
    @apply prose prose-neutral dark:prose-invert text-pretty;
  }

  [data-rehype-pretty-code-title] {
    @apply bg-zinc-700 text-zinc-200 rounded-t-lg py-2 px-3 font-semibold text-sm;
  }

  figcaption+pre {
    @apply !rounded-t-none;
  }
}

@layer components {

  .panel {
    @apply font-mono font-bold tabular-nums text-xs uppercase flex-1 space-y-1 justify-between items-center text-neutral-600 dark:text-neutral-400;
  }

  .page-title {
    @apply mb-6 text-3xl font-extrabold tracking-tight text-black md:text-4xl dark:text-white;
  }

  .post-title {
    @apply text-2xl max-w-[650px];

    &.panel {
      @apply flex justify-around items-center mt-2 mb-8 text-sm;
    }

    &.date {
      @apply flex-1 text-neutral-600 dark:text-neutral-400;
    }
  }




  .clock {
    @apply md:fixed bottom-0 left-0 col-span-full lg:col-start-9 lg:col-span-8 row-start-1 lg:row-auto self-start flex flex-col justify-between pt-4 font-bold font-mono text-[6vw] md:text-[4vw] md:ml-6 tabular-nums;
  }

  .prose {
    > :first-child {
      /* Override removing top margin, causing layout shift */
      margin-top: 1.25em !important;
      margin-bottom: 1.25em !important;
    }

    /*     &:where(code):not(:where([class~='not-prose'] *)) {
      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    } */

    & mark {
      @apply bg-pink-300;
    }

    &.anchor {
      @apply absolute invisible no-underline;
      margin-left: -1em;
      padding-right: 0.5em;
      width: 80%;
      max-width: 700px;
      cursor: pointer;

      &:hover {
        @apply visible;
      }

      &:after {
        @apply text-neutral-300 dark:text-neutral-700;
        content: '#';
      }
    }



    & a {
      @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
    }



    & *:hover>.anchor {
      @apply visible;
    }

    & kbd {
      @apply bg-neutral-100 dark:bg-neutral-800 py-px px-1 rounded;
    }

    & img,
    picture {
      max-width: 100%;
      display: block;
      @apply m-0;
    }

    & pre {
      @apply font-mono rounded-lg overflow-x-auto;
    }

    & code {
      @apply font-mono self-center m-2 items-center align-baseline text-pink-400 dark:text-pink-300 rounded-lg;
    }

    & strong {
      @apply font-medium;
    }

    & img,
    picture {
      max-width: 100%;
      display: block;
      @apply m-0;
    }

    & pre {
      @apply font-mono rounded-lg overflow-x-auto;
    }

    & code {
      @apply font-mono self-center m-2 items-center align-baseline text-pink-400 dark:text-pink-300 rounded-lg;
    }

    & strong {
      @apply font-medium;
    }

  }

  /* Light theme (default) */
  .tweet .react-tweet-theme {
    /* margin is handled by our wrappers */
    --tweet-container-margin: 0;
    --tweet-font-family: inherit;
    --tweet-font-color: theme('colors.white');

    /* Light colors */
    --tweet-bg-color: #fff;
    --tweet-bg-color-hover: var(--tweet-bg-color);
    --tweet-color-blue-secondary: theme('colors.gray.600');
    --tweet-color-blue-secondary-hover: theme('colors.gray.100');
    --tweet-font-color-secondary: theme('colors.gray.500');

    /* Common properties for both themes */
    --tweet-quoted-bg-color-hover: rgba(0, 0, 0, 0.03);
    --tweet-border: 1px solid rgb(207, 217, 222);
    --tweet-skeleton-gradient: linear-gradient(270deg, #fafafa, #eaeaea, #eaeaea, #fafafa);
    --tweet-color-red-primary: rgb(249, 24, 128);
    --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
    --tweet-color-green-primary: rgb(0, 186, 124);
    --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
    --tweet-twitter-icon-color: var(--tweet-font-color);
    --tweet-verified-old-color: rgb(130, 154, 171);
    --tweet-verified-blue-color: var(--tweet-color-blue-primary);

    --tweet-actions-font-weight: 500;
    --tweet-replies-font-weight: 500;
  }

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    .tweet .react-tweet-theme {
      /* Dark theme colors */
      --tweet-bg-color: #222;
      --tweet-bg-color-hover: var(--tweet-bg-color);
      --tweet-quoted-bg-color-hover: rgba(255, 255, 255, 0.03);
      --tweet-border: 1px solid #333;
      --tweet-color-blue-secondary: theme('colors.white');
      --tweet-color-blue-secondary-hover: #333;
      --tweet-font-color-secondary: theme('colors.gray.400');
    }
  }

  /* Common styles for both themes */
  .tweet {
    &.react-tweet-theme {
      & p {
        font-size: inherit;
        line-height: 1.3rem;
      }

      & p a {
        @apply border-b border-gray-300 transition-[border-color] hover:border-gray-600;
      }
    }
  }

  /*   .react-tweet-theme p {
    font-size: inherit;
    line-height: 1.3rem;
  }

  .tweet .react-tweet-theme p a {
    @apply border-b border-gray-300 transition-[border-color] hover:border-gray-600;
  }
 */
  /*   .tweet .react-tweet-theme p {
    font-size: inherit;
    line-height: 1.3rem;
  }

  .tweet .react-tweet-theme p a {
    @apply border-b border-gray-300 transition-[border-color] hover:border-gray-600;
  }
 */
  /* Dark theme link styles */
  @media (prefers-color-scheme: dark) {
    .tweet .react-tweet-theme p a {
      @apply border-gray-500 text-white hover:border-white;
    }
  }

  /* Remove link underline on hover for both themes */
  .tweet .react-tweet-theme p a:hover {
    text-decoration: none;
  }

  .tweet a div {
    @apply font-medium tracking-tight;
  }

  .tweet div[class*='mediaWrapper'] {
    max-height: 250px;
  }
}

@layer utilities {

  .nl1 {
    @apply flex flex-col space-y-1 mb-6;

    &.nl2 {
      @apply flex flex-col;

      & h2 {
        @apply text-neutral-900 dark:text-neutral-100;
      }
    }
  }

  #filetree {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
}

.bg-wrap {
  @apply w-[500px] h-[600px] md:w-[650px] dark:invert;
  position: fixed;
  background-image: url('/av3.svg');
  min-height: 100vh;

  /*   margin-bottom: 10%;
 */
  overflow: visible;
  background-position-x: 50%;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  /*   background-size: cover;  */
  /* Resize the background image to cover the entire container */
  z-index: -1;
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}



/**** PROSE NESTING TEST **/

.callout {

  @apply px-4 py-3 border border-neutral-200 dark:border-neutral-700 bg-neutral-50 dark:bg-neutral-800 text-balance rounded p-1 text-sm flex items-center text-neutral-900 dark:text-neutral-100 mb-8;

  &.emoji {
    @apply pl-4 flex items-center w-4 h-4 mr-4;

  }

  &.children {
    width: 100%;
  }


}

.nesting {
  color: hotpink;

  >.is {
    color: rebeccapurple;

    >.awesome {
      color: deeppink;
    }
  }
}

.lfn {
  @apply flex gap-1;

  & .cdr {
    @apply flex items-center justify-end dark:text-stone-600;
  }

  & .cdr-2 {
    @apply w-6 text-stone-300 dark:text-stone-600;
  }
}

.ikon {
  width: 1.5rem;

  & div {
    display: flex;
    width: 100%;
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem
        /* 8px */
        * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem
        /* 8px */
        * calc(1 - var(--tw-space-x-reverse)));
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem
        /* 8px */
        * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem
        /* 8px */
        * var(--tw-space-y-reverse));
    justify-content: space-between;
  }
}

.page-links-1 {
  @apply flex mr-40 justify-between flex-col;
}

.page-links-2 {
  @apply duration-700 ease-in-out transition-all hover:text-neutral-800 dark:hover:text-pink-200 text-2xl md:text-5xl tracking-tight py-1 md:py-2 font-extrabold;
}

.nav-2 {
  @apply flex items-center justify-between w-full max-w-3xl pt-2 pb-8 mx-auto text-gray-900 border-gray-200 dark:border-gray-700 bg-opacity-60 dark:text-gray-50;

  & div {
    margin-left: -0.60rem;

  }
}

.arifin {
  @apply font-bold tracking-wide text-gray-800 dark:text-gray-200 inline-block p-1 px-3 py-2 transition-all;
}

.pix {
  @apply filter drop-shadow-sm;

  & figure {
    & img {
      border-radius: 0.5rem;
      @apply dark:bg-zinc-900 bg-zinc-50;
    }

    /* changes to the <figure> container, if it has a figcaption element */
    &:has(figcaption) {
      display: flex;
      align-items: start;
    }

    & figcaption {
      & span {
        text-align: right;
        @apply text-sm text-gray-600 dark:text-gray-400;
      }
    }
  }
}