---
import BaseLayout from "@/layouts/BaseLayout.astro";
const commitSha = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA || "";
---

<BaseLayout>
  <h1 class="sr-only">Homepage</h1>
  <section class="prose py-40">
    <dl>
      <dt>Name</dt>
      <dd>Mustaqim Arifin</dd>
      <dt>Location</dt>
      <dd>Kuala Lumpur, MY</dd>
      <dt>Work</dt>
      <dd>
        Regional Marketing Manager, SEA at <a href="https://musegroup.asia">MuseGroup</a>, previously <a
          href="https://watershed.com">Watershed</a
        >, <a href="https://hashicorp.com">HashiCorp</a>
      </dd>
      <dt>Stack</dt>
      <dd>Astro, TailwindCSS, Geist Sans/Mono</dd>
      <dt>Version</dt>
      <dd><code>4.0.0-alpha</code></dd>
      <dt>View source</dt>
      <dd>
        <a href="https://github.com/mustaqimarifin/arifin-xyz"
          >mustaqimarifin/arifin-xyz</a
        >
      </dd>
      {
        commitSha && (
          <>
            <dt>Latest commit</dt>
            <dd>
              <a
                href={`https://github.com/mustaqimarifin/arifin-xyz/commit/${commitSha}`}
              >
                <code>{commitSha.slice(0, 7)}</code>
              </a>
            </dd>
          </>
        )
      }
    </dl>
  </section>
</BaseLayout>
